# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle wrapper files:
gradle/wrapper
gradlew
gradlew.bat

# Ignore Gradle build output directory
build

# Igonore IDEA directory
.idea

# Igonore IDEA module fle
*.iml

#Igonre Docker environment file
.env